/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85vw;
}

.name {
  margin: auto;
  margin-top: 30vh;
}

.button {
  margin: auto;
  margin-top: 20vh;
}

div#main {
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
}

section.dark {
  height: 100vh;
  width: 100vw;
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

section.light {
  height: 80vh;
  width: 100vw;
  color: black;
  background: rgba(255, 255, 255, 0.35);
  padding: 8rem 0;
}

section img.background {
  width: 100vw;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  object-fit: cover;
}

h1 {
  font-weight: 300;
  font-family: "Montserrat", serif;
  font-size: 7rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 1.25rem;
}

p.small {
  font-size: 0.95rem;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4e567e;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 20.625rem 18.75rem;
  grid-gap: 20px;
}

.container .box:hover {
  transform: scale(1.05);
}

.container .box {
  border-radius: 10px;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

img.socialIcon {
  width: 30px;
  height: 30px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}